@include desktop {
  .service {
    .visual_comment {
      .visual {
        height: 80rem;
        margin-bottom: 14rem;
      }
      .description{
        max-width: 100rem;
      }
    }
    .anchors_part {
      padding-bottom: 14rem;
      .container {
        margin-top: 14rem;
        .wrapper {
          height: 36rem;
        }
        .part_img {
          .img_scroll_wrap {
            img {
              height: 42rem;
            }
          }
        }
        .part_introduction_wrap {
          margin-bottom: 8rem;
          max-width: 100rem;
          .element_title {
            min-width: 40rem;
            margin-right: 6.4rem;
          }
          .description {
            padding-bottom: 1.4rem;
          }
          .disclaimer {
            .hashtag {
              font-size: 1.6rem;
              padding: 1.8rem 3rem 0 0;
            }
          }
        }
      }
    }
  }
}