@include tablet {
  .service {
    .visual_comment {
      .visual {
        height: 57.6rem;
      }
      .description{
        //max-width: 62rem;
        &.en_comment {
          padding-top: 10rem;
          margin-bottom: 4rem;
        }
      }
    }
    .anchors_part {
      padding-bottom: 6rem;
      padding-top: 10rem;
      .wrapper {
        height: 25rem;
      }
      .part_img {
          img {
            height: 31rem;
          }
      }
      .part_introduction_wrap {
        margin-bottom: 7rem;
        padding: 0 3.4rem;
        display: flex;
        flex-wrap: wrap;
        .element_title {
          width: 26rem;
          height: 100%;
          margin-right: 4rem;
          flex-shrink: 0;
        }
        .description {
          width: calc(100% - 30rem);
          padding-bottom: .8rem;
        }
        .disclaimer {
          padding-left: 30rem;
          .hashtag {
            display: inline-block;
            padding: 1.4rem 1.8rem 0 0;
          }
        }
      }
    }
  }
}