.base_article {
  .element_title { @extend %font_baseArticleTitle; }
  .base_article_img_box {
    display: inline-block;
    overflow: hidden;
    img {
      object-fit: cover;
      display: inline-block;
      margin-top: -5%;
    }
  }
}