.menu {
  position: fixed;
  width: calc( 100% - 12.8rem );
  height: inherit;
  right: 0;
  .menu-btn {
    position: absolute;
    top: 50%;
    right: 2.4rem;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    background-size: 100%;
    z-index: 1;
    background-image: url('../../../../public/assets/images/ico/ico-btn-black-menu.svg');
    span {
      visibility: hidden;
      font-size: 0;
    }
    &.close {
      background-image: url('../../../../public/assets/images/ico/ico-btn-close.svg');
    }
  }
  &.on {
    width: 100%;
    .gnb-wrap{
      display: block;
    }
  }
  .gnb-wrap {
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    .gnb, .copy {
      position: absolute;
      left: 4rem;
    }
    .gnb {
      bottom: 9.8rem;
      li {
        margin-bottom: 1.6rem;
        font-size: initial;
        * {
          font-size: 3.2rem;
          letter-spacing: $en-letterSpacing;
          font-weight: 700;
          line-height: 1;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .copy {
      bottom: 2.6rem;
      @extend %font-disclaimer;
      color: $color-darkgrey;
      letter-spacing: $en-letterSpacing;
      line-height: 1;
    }
  }
}

.header {
  &.is-white {
  }
  &.is-black {
    .menu {
      .menu-btn {
        background-image: url('../../../../public/assets/images/ico/ico-btn-white-menu.svg');
      }
    }
    .gnb {
      li {
        * {
          color: $color-white;
        }
      }
    }
  }
  &.is-photo {
    .menu {
      .menu-btn {
        background-image: url('../../../../public/assets/images/ico/ico-btn-black-menu.svg');
      }
    }
  }
  .menu {
    .menu-btn {
      &.close {
        background-image: url('../../../../public/assets/images/ico/ico-btn-close.svg');
      }
    }
  }
}