.menu {
  position: fixed;
  width: calc( 100% - 12.8rem );
  height: inherit;
  right: 0;
  .menu_btn {
    position: absolute;
    top: 50%;
    right: 2.4rem;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    background-size: 100%;
    z-index: 1;
    background-image: url('../../../../public/assets/images/ico/ico_btn_menu_black.svg');
    span {
      visibility: hidden;
      font-size: 0;
    }
    &.close {
      background-image: url('../../../../public/assets/images/ico/ico_btn_close.svg');
    }
  }
  &.on {
    width: 100%;
    .gnb_wrap{
      display: block;
    }
  }
  .gnb_wrap {
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: $color_white;
    .gnb, .copy {
      position: absolute;
      left: 4rem;
    }
    .gnb {
      bottom: 9.8rem;
      li {
        margin-bottom: 1.6rem;
        font-size: initial;
        * {
          font-size: 3.2rem;
          letter-spacing: $en_letterSpacing;
          font-weight: 700;
          line-height: 1;
          color: $color-black;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .copy {
      bottom: 2.6rem;
      @extend %font_disclaimer;
      color: $color_darkgrey;
      letter-spacing: $en_letterSpacing;
      line-height: 1;
    }
  }
}

.header {
  &.is_black .menu .menu_btn {
    background-image: url('../../../../public/assets/images/ico/ico_btn_menu_white.svg');
  }
  &.is_photo .menu .menu_btn,
  &.is_white .menu .menu_btn {
    background-image: url('../../../../public/assets/images/ico/ico_btn_menu_black.svg');
  }
  .menu {
    .menu_btn {
      &.close {
        background-image: url('../../../../public/assets/images/ico/ico_btn_close.svg');
      }
    }
  }
}