.video {
  position: relative;
  margin: 0 auto;
  font-size: 0;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  &.dim_off::after {
    display: none;
  }
  video {
    width: 100%;
    height: auto;
    &::-webkit-media-controls {
      visibility: hidden;
    }
    &.on::-webkit-media-controls {
      visibility: visible;
    }
  }
  .video_btn {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 10;
    cursor: pointer;
    display: block;

    &.hide {
      display: none;
    }
  }
}
