.device{
  @extend %layout_fix;
  padding: 6rem 2.4rem 10rem;
  .device_title{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.2rem;
    letter-spacing: -3%;
    padding-bottom: 1.6rem;
    text-align: left;

  }
  .description{
    width: 26.2rem;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: -3%;
    padding-bottom: 2rem;
    text-align: left;
  }
  div{
    width: 100%;
    //padding: 0 5.2rem;
    margin: 0 auto;
    box-sizing: border-box;
    img{
      display: block;
      width: 100%;
    }
    span{
      display: block;
      font-family: 'Pretendard';
      font-style: normal;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 100%;
      letter-spacing: $en_letterSpacing;
      padding-top: 5rem;
      padding-bottom: 2rem;
      padding-left: 1.5rem;
      text-align: left;
    }
  }
}