.device{

  div{
    width: 100%;
    padding: 0 5.2rem;
    margin: 0 auto;
    box-sizing: border-box;
    img{
      display: block;
      width: 100%;
    }
    span{
      display: block;
      font-family: 'Pretendard';
      font-style: normal;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 100%;
      letter-spacing: -3%;
      padding-top: 5rem;
      padding-bottom: 3rem;
      padding-left: 1.5rem;
    }
  }
}