@include tablet {

  .device{
    padding: 0 5rem;
    .device_title{
      font-size: 2.8rem;
      line-height: 100%;
      padding-bottom: 2.2rem;
    }
    .description{
      width: 34rem;
      padding-bottom: 0;
    }
    br.mo {
      display: none;
    }
    .device-img{
      padding: 0;
      display: flex;
      justify-content: space-between;
      div{
        padding: 0;
        &:nth-child(1){
          margin-top: 22.5rem;
        }
        &:nth-child(2){
          margin-top: 11.2rem;
        }
        &:nth-child(3){
          margin-top: 5rem;
        }
      }
    }

  }
  article.type_b{
    .device-img{
      padding: 0;
      div{
        padding: 0;
        &:nth-child(1){
          margin-top: 18.8rem;
        }
        &:nth-child(2){
          margin-top: 5.8rem;
        }
        &:nth-child(3){
          margin-top: 13.5rem;
        }
      }
    }
  }
}