@include wide{
  .device{
    //padding: 0 31rem;
    .element-title{
      font-size: 3.8rem;
      padding-bottom: 3.2rem;
    }
    .description{
      width: 48.5rem;
      font-size: 2rem;
    }
    .device-img{
      div{
        &:nth-child(1){
          margin-top: 36.8rem;
        }
        &:nth-child(2){
          margin-top: 21.2rem;
        }
        &:nth-child(3){
          margin-top: 7.3rem;
        }
      }
    }
  }
  article.typeB{
    .device-img{
      div{
        &:nth-child(1){
          margin-top: 31rem;
        }
        &:nth-child(2){
          margin-top: 8.7rem;
        }
        &:nth-child(3){
          margin-top: 20.3rem;
        }
      }
    }
  }
}
