.works_template {
  text-align: center;
  .detail_key_visual_wrap {
    position: relative;

    .detail_key_visual {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        color: $color_white;
        font-weight: 700;
        font-family: $font_en;
        margin-bottom: 1.8rem;
        letter-spacing: -0.03em;
        z-index: 1;
        max-width: 120rem;
      }
      .disclaimer {
        color: $color_white;
        font-family: $font_ko;
        @extend %font_visualDescription;
        z-index: 1;
      }
    }
    .scroll_icon {
      position: absolute;
      bottom: 30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 11.4rem;
      height: auto;
    }
  }
  .view_website_btn {
    @extend %btn_secondary_up;
    font-family: $font_en;
    font-weight: 500;
    position: fixed;
    right: 14px;
    bottom: 50px;
    z-index: 99;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    &.hide {
      bottom: -999px;
    }
  }
  .detail_text_wrap {
    padding: 0 2.4rem;
    font-family: $font_en;
    .description {
      @extend %font_enIntro;
      letter-spacing: -0.03em;
    }
    .description:first-child {
      margin-top: 6rem;
      span {
        font-family: $font_en_italic;
        @extend %font_enIntro;
      }
    }
    .description:nth-child(2) {
      margin: 5rem auto 5rem;
      @extend %font_primary;
      font-family: $font_ko;
      max-width: 120rem;
      text-align: center;
      br {
        display: none;
      }
    }
    .base_article {
      @extend %font_primary;
      color: $color_black;
      .element_title {
        font-family: $font_ko;
        font-size: 1.6rem;
        line-height: 1.6rem;
      }
      .description {
        margin-top: 1.2rem;
        margin-bottom: 3.6rem;
        font-size: 1.4rem;
        line-height: 2.2rem;
      }
      &:last-child {
        .description {
          margin-bottom: 6rem;
        }
      }
    }
  }
  .detail_sub_visual_wrap {
    background-position: center;
    background-size: cover;
    color: $color_white;
    height: 48rem;
    &.dimmed::after {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .sub_visual_text {
      position: relative;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      z-index: 1;

      .description {
        font-family: $font_en_italic;
        font-size: 3.6rem;
        margin-bottom: 4.4rem;
        letter-spacing: 0.03em;
        line-height: 4.7rem;
      }
      .base_article {
        font-family: $font_ko;
        .element_title {
          font-size: 1.6rem;
          line-height: 1.6rem;
        }
        .description {
          font-size: 1.4rem;
          font-family: $font_ko;
          line-height: 2.2rem;
          margin-top: 1.2rem;
          margin-bottom: 3.6rem;
        }
      }
    }
  }
  .detail_next_work_wrap {
    padding-top: 6rem;
    @extend %layout_fix;

    h3 {
      font-family: $font_en;
      @extend %font_visualTitle;
      font-weight: 700;
      line-height: 5rem;
    }
    .base_article {
      font-family: $font_en;
      margin-top: 4rem;
      text-align: left;
      .base_article_img_box {
        display: inline-block;
        overflow: hidden;
        margin-bottom: 2.2rem;
        img {
          transition: all 0.3s;
        }
        &:hover img {
          transform: scale(1.1);
        }
      }
      .element_title {
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 0.8rem;
      }
      .description {
        color: $color_darkgrey;
        font-size: 1.4rem;
        line-height: 1.4rem;
        letter-spacing: -0.03em;
      }
    }
  }
  .portfolio_list_btn {
    @extend %btn_primary_ghost;
    font-weight: 700;
    background-color: $color_black;
    margin: 4rem auto 6rem;
  }
}
