@include desktop {
  .esg {
    .esg_visual {
      .visual {
        height: 80rem;
      }
      .description {
        padding: 14rem 9rem 4rem;
        margin-bottom: 0;

        & + .description {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    .esg_tab_wrapper {
      .tab-button {
        font-size: 2rem;

        button {
          font-size: 2rem;
        }
      }
    }
  }
}
