@include tablet {
  .esg {
    .esg_visual {
      .visual {
        height: 57.6rem;
      }
      .description {
        padding: 12rem 7.4rem 0rem;

        & + .description {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    .esg_tab_wrapper {
      .tab-button {
        font-size: 2rem;
        height: 4.6rem;

        button {
          font-size: 2rem;
        }
      }
    }
  }
}
