.expertise_scroll {
  height :100vh;
  display: flex;
  align-items: center;
  width: 100%;
  .scroll_wrap {
    position :relative;
    display: flex;
    margin-left: 33vh;
    .scroll_text{
      font-size: 60vh;
      font-family: $font_en;
      letter-spacing: $en_letterSpacing;
      font-weight: bold;
      white-space: nowrap;
      display: inline-block;
    }
    .scroll_image_wrap {
      img {
        position: absolute;
        max-width: 19.3rem;
        width: 30.2vh;
      }
      span {
        &:nth-child(1) img {
          top: 8.5%;
          left: 9%;
        }
        &:nth-child(2) img {
          top: 67%;
          left: 44.5%;
        }
        &:nth-child(3) img {
          top: 3.5%;
          left: 86.5%;
        }
      }
    }
  }
}