.rolling_animation {
  //overflow: hidden;
  height :100vh;
  display: flex;
  align-items: center;
  width: 100%;
  .rolling_animation_wrap {
    position :relative;
    display: flex;
    margin-left: 33vh;
    .animation_text{
      font-size: 60vh;
      font-family: $font_en;
      letter-spacing: $en_letterSpacing;
      font-weight: bold;
      white-space: nowrap;
      display: inline-block;
    }
    .animation_image {
      img {
        position: absolute;
        /*top: 0;
        left: 0;*/
        max-width: 19.3rem;
        width: 30.2vh;
      }
      span {
        &:nth-child(1) img {
          top: 8.5%;
          left: 9%;
        }
        &:nth-child(2) img {
          top: 64%;
          left: 41.5%;
        }
        &:nth-child(3) img {
          top: 12.5%;
          left: 70.5%;
        }
      }
    }
  }
}