@include tablet {
  .expertise_scroll {

    .scroll_wrap {

      margin-left: 53vh;
      .scroll_text{
        font-size: 56vh;
      }
      .scroll_image_wrap {
        img {
          max-width: 25.7rem;
        }
        span {
          &:nth-child(1) img {
            top: 9.3%;
            left: 10.5%;
          }
          &:nth-child(2) img {
            top: 65%;
            left: 37%;
          }
          &:nth-child(3) img {
            top: 15.5%;
            left: 74%;
          }
        }
      }
    }
  }
}