.page_title {
  width: 100%;
  height: 104px + 60px + 60px; //$pageTitle_top + $pageTitle_bottom + $pageTitle_fontSize
  z-index: -1;

  &_h2 {
    @extend %font_pageTitle;
    position: fixed;
    left: 0;
    top: 104px; //$pageTitle_top
    width: 100%;
    height: 60px; //$pageTitle_fontSize
    overflow: hidden;
    z-index: -1;
    text-align: center;
    transition: all 1s;
    opacity: 0;

    span {
      padding-right: 10px; // $pageTitle_spanPaddingRight;
      display: inline-block;
      padding-top: 60px; //$pageTitle_fontSize
      -webkit-animation: pageTitleSpanFirst 1s;
      animation: pageTitleSpanFirst 1s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-delay: .5s;
      animation-delay: .5s;
      vertical-align: top;
      font-size: inherit;
      font-weight: 700;

     @-webkit-keyframes pageTitleSpanFirst {
        from {padding-top: 60px;} //$pageTitle_fontSize
        to {padding-top: 0;}
      }
      @keyframes pageTitleSpanFirst {
        from {padding-top: 60px;} //$pageTitle_fontSize
        to {padding-top: 0;}
      }

      &:last-child {
        padding-right: 0;
      }

      &:nth-child(2) {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
      }
    }

    &.fadeIn {
      opacity: 1;
    }
    &.fadeOut {
      opacity: 0;
    }
  }
}
