.page-title {
  width: 100%;
  height: 104px + 60px + 60px; //$pageTitle-top + $pageTitle-bottom + $pageTitle-fontSize
  z-index: -1;

  &-h2 {
    @extend %font-pageTitle;
    position: fixed;
    left: 0;
    top: 104px; //$pageTitle-top
    width: 100%;
    height: 60px; //$pageTitle-fontSize
    overflow: hidden;
    z-index: -1;
    text-align: center;
    transition: all 1s;

    span {
      padding-right: 10px; // $pageTitle-spanPaddingRight;
      display: inline-block;
      padding-top: 60px; //$pageTitle-fontSize
      -webkit-animation: pageTitleSpanFirst 1s;
      animation: pageTitleSpanFirst 1s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      vertical-align: top;
      font-size: inherit;
      font-weight: bold;

     @-webkit-keyframes pageTitleSpanFirst {
        from {padding-top: 60px;} //$pageTitle-fontSize
        to {padding-top: 0;}
      }
      @keyframes pageTitleSpanFirst {
        from {padding-top: 60px;} //$pageTitle-fontSize
        to {padding-top: 0;}
      }

      &:last-child {
        padding-right: 0;
      }

      &:nth-child(2) {
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
      }
    }

    &.fadeIn {
      opacity: 1;
    }
    &.fadeOut {
      opacity: 0;
    }
  }
}
