@include tablet {
  .page-title {
    height: 136px + 80px + 120px; //$pageTitle-top + $pageTitle-bottom + $pageTitle-fontSize

    &-h2 {
      top: 136px; //$pageTitle-top
      height: 120px; //$pageTitle-fontSize

      span {
        padding-right: 14px; // $pageTitle-spanPaddingRight;
        padding-top: 120px; //$pageTitle-fontSize

        @-webkit-keyframes pageTitleSpanFirst {
          from {padding-top: 120px;} //$pageTitle-fontSize
          to {padding-top: 0;}
        }
        @keyframes pageTitleSpanFirst {
          from {padding-top: 120px;} //$pageTitle-fontSize
          to {padding-top: 0;}
        }
      }
    }
  }
}