@include wide {
  .page_title {
    height: 220px + 140px + 200px; //$pageTitle_top + $pageTitle_bottom + $pageTitle_fontSize

    &_h2 {
      top: 220px; //$pageTitle_top
      height: 200px; //$pageTitle_fontSize

      span {
        padding-right: 22px; // $pageTitle_spanPaddingRight;
        padding-top: 200px; //$pageTitle_fontSize

        @-webkit-keyframes pageTitleSpanFirst {
          from {padding-top: 200px;} //$pageTitle_fontSize
          to {padding-top: 0;}
        }
        @keyframes pageTitleSpanFirst {
          from {padding-top: 200px;} //$pageTitle_fontSize
          to {padding-top: 0;}
        }
      }
    }
  }
}