.custom_area {
  .nbrand_video {
    margin-bottom: 6rem;
  }
  .custom_element_title {
    font-family: $font-en;
    @extend %font_sectionTitle;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #000;
    letter-spacing : $en_letterSpacing;
  }
  .custom_description {
    font-family: $font-ko;
    @extend %font_primary;
    color: #000;
  }
  .nbrand_main_wrap {
    padding-bottom: 6rem;
    .main_text_wrap {
      @extend %layout_fix;
      margin-bottom: 5rem;
    }

    .main_img_wrap {
      @extend %layout_fix;
      .main_img {
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 5rem;
        }
      }
    }
  }
  .nbrand_sub_wrap {
    @extend %layout_fix;
    padding-bottom: 6.1rem;

    .custom_description {
      margin-bottom: 5rem;
    }
    .sub_img_wrap {
      .sub_img {
        margin-bottom: 4.1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}