@include desktop {
  .custom_area{
    .video{
      margin : 0 3.2rem;
    }
    .main_text{
      width: 100rem;
      padding-top: 14rem;
      padding-bottom: 12rem;
      .element_title{
      }
      .description{
        padding-top: 3.4rem;
      }
    }
    .main_img{
      max-width: 1280px;
      //padding-bottom: 12rem;
      img{
        &:nth-child(1){
        padding-bottom: 0rem;
        width: 91rem;
        height: 51rem;
      }
        &:nth-child(2){
          width: 70rem;
          height: 39.4rem;
          transform: translate(513px, -120px);
        }
      }
    }
  }
}