.our_works_list {
  background-color: transparent !important;

  .portfolio_list {
    padding-bottom: 6rem;
    .tab_content_wrap {
      @extend %layout_fix;
      overflow-x:hidden;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 0;
      margin-top: -50px;
      padding-bottom: 60px;

      a {
        width: 100%; // $our_works_list
        margin-bottom: 5rem; // $our_works_list

        .base_article {
          letter-spacing: $en_letterSpacing;

          .element_title {
            font-weight: 400;
            padding: 2.2rem 0.2rem 0.8rem; // $our_works_list
          }

          .description {
            color: $color_darkgrey;
            padding: 0 0.2rem; // $our_works_list
            font-size: 14px;
          }
        }
      }
    }
  }

  .view_more_btn {
    position: relative;
    display: block;
    height: 68.5px;
    margin: -74px auto 74px; // $our_works_list
    padding-bottom: 4.2rem; // $our_works_list

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) rotate(0);
      background: url(/assets/images/ico/ico_btn_more_black.svg) no-repeat center;
      background-size: 100%;
      width: 2.4rem; // $our_works_list
      height: 2.4rem; // $our_works_list
      transition: transform .5s;
    }
    &:hover:after {
      transform: translateX(-50%)  rotate(-180deg);
    }

    span {
      @extend %font_disclaimer;
      color: $color-black;
    }
  }

  .tab {
    position: relative;
    .tab_btn_wrap {
      width: 100%;
      position: sticky;
      left: 0;
      top: calc(100vh - 72px);
      z-index: 50;
      text-align: center;
      ul {
        padding: 0.8rem;
        border-radius: 100rem;
        background-color: rgba(0,0,0,0.6);
        display: inline-block;
        .tab-button {
        display: inline-block;
        margin-left: 0.8rem;

        &:first-child {
          margin-left: 0;
        }
        button {
          font-size: 14px;
          letter-spacing: $en_letterSpacing;
          border: 1px solid rgba(255,255,255,0.6);
          color: rgba(255,255,255,0.6);
          border-radius: 100rem;
          padding: 1rem 2rem;

          span {
            font-size: inherit;
          }
        }

        &.is_active {
          button {
            background-color: $color-white;
            color: $color-black;
          }
        }
      }
      }
    }
  }
}