.our_works_list {
  @extend %layout_fix;
  background-color: transparent !important;

  .portfolio_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0;

    .base_article {
      letter-spacing: $en_letterSpacing;
      width: 100%; // $our_works_list
      padding-bottom: 5rem; // $our_works_list

      .element_title {
        font-weight: 400;
        padding: 2.2rem 0.2rem 0.8rem; // $our_works_list

      }

      .disclaimer {
        color: $color_darkgrey;
        padding: 0 0.2rem; // $our_works_list
      }
    }
  }

  .view_more_btn {
    position: relative;
    display: block;
    margin: 0 auto 6rem; // $our_works_list
    padding-bottom: 4.2rem; // $our_works_list

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background: url(/assets/images/ico/ico_btn_more_black.svg) no-repeat center;
      background-size: 100%;
      width: 2.4rem; // $our_works_list
      height: 2.4rem; // $our_works_list
    }
    @keyframes viewMoreBtnAni {
      from{transform: translateX(-50%) rotate(0);}
      to{transform: translateX(-50%)  rotate(-180deg);}
    }
    &:hover:after {
      -webkit-animation:viewMoreBtnAni .5s alternate;
      animation:viewMoreBtnAni .5s alternate;
    }

    span {
      @extend %font_disclaimer;
    }
  }
}