@include wide {
  .our_works_list {

    .portfolio_list {
      padding-bottom: 14rem;
      .tab_content_wrap {
        gap: 2.4rem;

        a {
          width: calc(50% - 1.2rem);  // $our_works_list
          margin-bottom: 10rem; // $our_works_list

          &:nth-child(2) {
            margin-top: 20rem; // $our_works_list
          }
          &:nth-child(odd) {
            margin-top: -20rem; // $our_works_list
          }
          &:first-child {
            margin-top: 0; // $our_works_list
          }

          .base_article {

            .element_title {
              padding: 3rem 0.6rem 1.6rem; // $our_works_list
            }
            .description {
              padding: 0 0.6rem; // $our_works_list
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}