@include desktop {
  .footer {
    padding:6rem 3.2rem 4rem;
    &_sendMail_btn {
      cursor: none;
      min-height:24rem;
      .description {
        font-size:6.8rem;
      }
    }

    &_cursor {
      align-items: center;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      pointer-events: none;
      position: absolute;
      height:2rem;
      transition: all 0.3s ease-in-out;
      transition-property: background-color, color, font-size, height, width, transform;
      //transform: translate(-50%, calc(-100% - 11.6rem));
      transform: translate(-50%, -50%);
      transform-origin: 100% 100%;
      width:2rem;
      z-index: 1000;
      &.isHover {
        background-color: $color_white;
        color: $color_black;
        height:14rem;
        width:14rem;
      }
    }

    &_container {
      padding-top: 8.8rem;
      &_nav {
        display: flex;
        flex-direction: row;
        * {
          font-size: 1.6rem;
        }
        .gnb {
          flex-grow: 1;
        }
        .sideLink {
          margin-top:0;
        }
      }
      &_anchors{
        margin-top: 4.8rem;
        padding: 4.8rem 0 10.6rem;
        position: relative;
        .container {
          dl {
            flex-basis: 33.33%;
            dt {
              float: left;
              height:100%;
              margin-bottom:0;
              margin-right: 4.8rem;
            }
          }
        }
        .download_btn {
          height: 6.4rem;
          margin-top:0;
          padding: 0 3.3rem;
          position: absolute;
          right: 0;
          top: 2.4rem;
          span {
            font-size: 1.6rem !important;
          }
        }
      }

      &_copyright {
        justify-content: start;
        .copyright {
          flex-grow: 1;
        }
      }
    }
  }
}
