@include desktop {
  .footer {
    .btn_wrap {
      padding-bottom: 10rem;
    }
    .copyright_wrap {
      padding: 4rem 0;
      margin: 0 6.4rem;
      .copyright {
        font-size: 1.6rem;
        line-height: 1.9rem;
      }
    }
  }
}