.footer {
  background-color: $color_black;
  padding:2.4rem 2.4rem;
  position: relative;
  overflow: hidden;
  * {
    color: $color_white;
    font-family: $font_en;
    @extend %font_device;
  }

  &_sendMail_btn {
    align-items: center;
    border:0.2rem solid $color_white;
    border-radius: 2.4rem;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    min-height:13rem;
    padding:0 4rem;
    .description {
      font-size:3.6rem;
      font-weight: 700;
      line-height: 115%;
      text-align: center;
      br {
        display: none;
      }
    }
  }

  &_cursor {
    font-size: 0;
    font-style: normal;
    font-weight: 500;
    &.isHover {
      @extend %font_disclaimer;
    }
  }

  &_container {
    padding-top: 4rem;
    position: relative;
    &_nav {
      .gnb {
        display: flex;
        flex-direction: column;
      }
      .sideLink {
        display: flex;
        flex-direction: row;
        gap: 2.8rem;
        margin-top: 3.5rem;
      }
    }

    &_anchors{
      border-top: 0.1rem solid #3B3B3B;
      margin-top: 3.2rem;
      padding: 3.2rem 0;
      .sendMail_btn {
        text-decoration: underline;
      }

      .container {
        dl {
          * {
            font-weight: 400;
          }
          dt {
            color: $color_darkgrey;
            margin-bottom: 1.6rem;
          }
          dd + dd {
            margin-top: 1.2rem;
          }
          & + dl {
            margin-top: 3.2rem;
          }
        }
        .address {
          dd:last-child {
            font-family: $font_ko;
          }
        }
      }
      .download_btn {
        @extend %btn_primary_ghost;
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-family: $font_ko;
        justify-content: center;
        margin-top: 3.2rem;
        padding: 0 2.4rem;
        &::after{
          position: static;
          transform: none;
        }
        &:hover:after {
          animation: none;
        }
        span {
          font-size: 1.4rem !important;
          font-weight: 700;
        }
      }
    }

    &_copyright {
      text-align: center;
      .logo{
        display: none;
        position: static;
        transform: none;
      }
      .copyright {
        color: $color_darkgrey;
        font-size: 1.2rem;
      }
    }
  
  }
}

.top_btn {
  @extend %btn_secondary_down;
  bottom: 0;
  height: 4.6rem;
  margin-bottom: 2rem;
  position: fixed;
  right: 2rem;
  transform: rotate(180deg);
  width: 4.6rem;
  z-index: 100;
  &::after {
    display: block;
    height: 1.6rem;
    width: 1.6rem;
  }
  &:hover{
    &::after {
      animation: none;
    }
  }
}
