$device : 360;

.top_btn {
  @extend %btn_secondary_down;
  bottom: 0;
  height: 4.6rem;
  margin-bottom: 2rem;
  position: fixed;
  right: 2rem;
  transform: rotate(180deg);
  width: 4.6rem;
  z-index: 100;
  &::after {
    display: block;
    height: 1.6rem;
    width: 1.6rem;
  }
  &:hover{
    border: none;
    &::after {
      animation: none;
    }
  }
}

.footer {
  align-items: center;
  background-color: $color_blue;
  display: flex;
  flex-direction: column;
  gap : #{converter(48)}vw;
  justify-content: center;
  height: 100vh;
  padding:0 2.4rem;
  position: relative;
  overflow: hidden;
  * {
    @extend %font_footerContents;
    color: $color_white;
    font-family: $font_ko;
    white-space: break-spaces;
  }

  &_container {
    width: 100%;
    position: relative;
    [class*="_btn"]:not(.footer_container_primary_normal_btn) {
      position: relative;
      &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        width: 100%;
        height: 0.1rem;
        background-color: #fff;
      }
    }

    &:first-child {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: #{converter(20)}vw;
      justify-content: flex-end;
    }

    &_lottie_wrap {
      .hand_lottie {
        height: #{converter(72)}vw;
        position: absolute;
        bottom:0;
        right:0;
        transform: translate(#{converter(8 + 24)}vw, offsetY(104 + 72));
        width: #{converter(72)}vw;
      }
    }

    &_primary_normal_btn {
      @extend %btn_primary_normal;
      * {
        color: $color_blue;
        font-family: $font_en;
        font-weight: 700;
      }
    }

    &_anchors{
      border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
      padding: #{converter(40)}vw 0;
      dl {
        display: flex;
        flex-direction: column;
        gap: #{converter(12)}vw;
        dt {
          color: $color_lightblue;
          font-family: $font_en;
        }
        & + dl {
          margin-top: #{converter(32)}vw;
        }
      }
    }

    &_copyright {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-bottom: #{converter(20)}vw;
      *{
        @extend %font_footerCopyright
      }
    }
  }

  &_sendMail_btn {
    align-items: center;
    border:0.2rem solid $color_white;
    border-radius: 2.4rem;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    min-height:13rem;
    margin-bottom: 4rem;
    padding:0 4rem;
    .description {
      font-size:3.6rem;
      font-weight: 700;
      line-height: 115%;
      text-align: center;
      br {
        display: none;
      }
    }
  }

  &_cursor {
    font-size: 0;
    font-style: normal;
    font-weight: 500;
    &.isHover {
      @extend %font_disclaimer;
    }
  }

  &_nav {
    * {
      font-size: 1.4rem;
    }
    .gnb {
      display: flex;
      flex-direction: column;
      * {
        font-family: $font_en;
        font-weight: 300;
      }
    }
    .sideLink {
      display: flex;
      flex-direction: row;
      gap: 2.8rem;
      margin-top: 3.5rem;
    }
  }

  .download_btn {
    @extend %btn_primary_ghost;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 3.2rem;
    padding: 0 2.4rem;
    &::after{
      position: static;
      transform: none;
    }
    &:hover:after {
      animation: none;
    }
    span {
      font-size: 1.4rem !important;
    }
  }
}

// galaxy z fold 5
@include folded {
  $device : 690;

  .footer {
    gap : #{converter(48, $device)}vw;
    &_container {
      &:first-child {
        gap: #{converter(20, $device)}vw;
      }

      &_lottie_wrap {
        .hand_lottie {
          transform: translate(#{converter(30 + 24, $device)}vw, offsetY(140 + 138, $device));
        }
      }

      &_anchors{
        padding: #{converter(40, $device)}vw 0;
        dl {
          gap: #{converter(12, $device)}vw;
          & + dl {
            margin-top: #{converter(32, $device)}vw;
          }
        }
      }
  
      &_copyright {
        flex-direction: row;
        gap: #{converter(20, $device)}vw;
        justify-content: center;
        padding-bottom: #{converter(20, $device)}vw;
      }
    }
  }
}