@include tablet {
  $device : 768;

  .top_btn {
    height: 6.9rem;
    margin-bottom: 2.4rem;
    right: 2.4rem;
    width: 6.9rem;
    &::after {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  .footer {
    gap : #{converter(80, $device)}vw;
    &_container {
      &:first-child {
        gap: #{converter(24, $device)}vw;
      }

      &_lottie_wrap {
        .hand_lottie {
          height: #{converter(156, $device)}vw;
          transform: translate(#{converter(16 + 30 + 24, $device)}vw, offsetY(168 + 156 + 50, $device));
          width: #{converter(156, $device)}vw;
        }
      }

      &_anchors{
        padding: #{converter(48, $device)}vw 0 #{converter(80, $device)}vw;
        dl {
          gap: #{converter(12, $device)}vw;
          & + dl {
            margin-top: #{converter(40, $device)}vw;
          }
        }
      }

      &_copyright {
        padding-bottom: #{converter(32, $device)}vw;
      }
    }

    &_sendMail_btn {
      border-width: 0.3rem;
      border-radius: 2.8rem;
      min-height:17.2rem;
      margin-bottom: 4.8rem;
      .description {
        font-size:4rem;
        br {
          display: inline;
        }
      }
    }

    &_nav {
      .gnb {
        flex-direction: row;
        gap: 2.8rem;
      }
    }

    .download_btn {
      display: inline-flex;
      height: 4.4rem;
      margin-top: 4rem;
    }
  }
}

@include rotate {
  $device : 1024;

  .footer {
    gap : #{converter(48, $device)}vw;
    &_container {
      &:first-child {
        gap: #{converter(20, $device)}vw;
      }

      &_lottie_wrap {
        .line_lottie {
          height: #{converter(192, 600)}vh;      
        }
        .hand_lottie {
          height: #{converter(146, 600)}vh;
          transform: translate(#{converter(16 + 30 + 24, $device)}vw, -#{converter(44 + 20, $device)}vw); // offsetY(44 + 20, $device)
          width: #{converter(146, 600)}vh;
        }
      }

      &_anchors{
        display: flex;
        flex-direction: row;
        padding: #{converter(32, $device)}vw 0;
        dl {
          flex-basis: 50%;
          display: block;
          dt {
            float: left;
            height:100%;
            margin-right: #{converter(40, $device)}vw;
          }
          & + dl {
            margin-top: 0;
          }
          dd + dd {
            margin-top: #{converter(12, $device)}vw;
          }
        }
      }

      &_copyright {
        padding: #{converter(24, $device)}vw 0;
        gap : #{converter(24, $device)}vw;
      }
    }
  }
}