@include tablet {
  .footer {
    padding:2.4rem 2.9rem 3.2rem;
    &_sendMail_btn {
      border-width: 0.3rem;
      border-radius: 2.8rem;
      min-height:17.2rem;
      .description {
        font-size:4rem;
        br {
          display: inline;
        }
      }
    }

    &_container {
      padding-top: 4.8rem;
      &_nav {
        * {
          font-size: 1.4rem;
        }
        .gnb {
          flex-direction: row;
          gap: 2.8rem;
        }
      }

      &_anchors{
        padding: 3.2rem 0 4rem;
        .container {
          display: flex;
          flex-direction: row;
          dl {
            flex-basis: 50%;
            & + dl {
              margin-top: 0;
            }
          }
        }
        .download_btn {
          display: inline-flex;
          height: 4.4rem;
          margin-top: 4rem;
        }
      }

      &_copyright {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .logo{
          display: block;
        }
      }
    }
  }
}
