.logo {
  width: 8rem;
  height: 1.5rem;
  position: absolute;
  left: 2.4rem;
  top: 50%;
  transform: translateY(-50%);

  a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/assets/images/ico/ico_logo_anchors_black.svg) no-repeat center;
    background-size: 100% auto;

    span {
      @extend %blind;
    }
  }
}
.is_black .logo a {
  background: url(/assets/images/ico/ico_logo_anchors_white.svg) no-repeat center;
  background-size: 100% auto;
}
.is_white .logo a,
.is_photo .logo a {
  background: url(/assets/images/ico/ico_logo_anchors_black.svg) no-repeat center;
  background-size: 100% auto;
}