@include wide {
  .career{
    .visual{
      height: 176.3rem;
    }
    .career_text{
      margin: 18rem 0;
      padding: 0 11.8rem;
      p:nth-of-type(1){
        font-size: 5rem;
        line-height: 7rem;
        margin-bottom: 6rem;
        span{
          font-size: 5rem;
        }
      }
      p:nth-of-type(2){
        font-size: 2rem;
        line-height: 3.2rem;
      }
    }

    //swiper_members 영역
    .swiper_members{
      margin-bottom: 18rem;
      .swiper-cards{
        margin-bottom: 0;
        .swiper-pagination{
          bottom: -4rem;
        }
      }
      .swiper_area{
        width: 52rem;
        .element_title{
          font-size: 2.8rem;
        }
        .disclaimer{
          font-size: 1.8rem;
          line-height: 1.8rem;
          margin-bottom: 6rem;
        }
        .description{
          font-size: 2rem;
          line-height: 3.2rem;
          &:nth-of-type(1){
            margin-bottom: 4rem;
          }
        }
      }
    }

    //  swiper_comment 영역
    .swiper_comment{
      margin-bottom: 18rem;
      .swiper_comment_text{
        font-weight: 700;
        line-height: 7.8rem;
        text-align: center;
        margin-bottom: 8rem;
      }
      .swiper_comment_swiper{
        //margin-left: 2.4rem;
        overflow: visible;
        .swiper-scrollbar.swiper-scrollbar-horizontal{
          transform: translate(-50%, 2.4rem);
          width: 8.6rem;
          .swiper-scrollbar-drag{
            //width: 2.6rem;
          }
        }
        .swiper-slide{
          padding-bottom: 2.6rem ;
          margin-right: 1.6rem;
          width: 46.4rem;
          height: 61rem;
          position: relative;
          .visual{
            width: 100%;
            height: 61rem;
          }

          .detail_slide{
            position: absolute;
            top: 0;
            width: 46.4rem;
            height: 61rem;
            .detail_btn{
              bottom: 5rem;
            }
            .detail{
              background-color: rgba(255, 255, 255, 0);
              transform: translateY(17%);
              bottom: 0;
              box-sizing: border-box;
              padding: 0 4rem;
              padding-bottom: 14rem;
              //transform: translateY(-30%);
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              &::before{
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000000;
                opacity: 0;
                backdrop-filter: blur(8px);
                z-index: -1;
                transition: 0.5s;

              }
              .description{
                color: $color_white;
                font-size: 3.8rem;
                font-weight: 700;
                line-height: 5rem;
                text-align: left;
                box-sizing: border-box;
                z-index: 10;
                margin-bottom: 1.6rem;

              }
              .disclaimer{
                font-size: 0;
                line-height: 0;
              }
              &.on {
                transform: translateY(0%);
                &::before{
                  opacity: 0.4;
                }
                .disclaimer{
                  font-size: 1.6rem;
                  line-height: 2.4rem;
                  text-align: justify;
                }
              }
            }
          }
        }
      }
    }


    //  welfare 영역
    .welfare{
      max-width: 115.6rem;
      //padding: 0 14.2rem;
      .welfare_text{
        margin-bottom: 8rem;
      }
      .welfare_list{
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .base_article{
          //width: 34.8rem;
          width: calc(33.3333% - 5.6rem);
          height: 41.8rem;
          //margin-right: 5.6rem;
          margin-bottom: 5.6rem;
          padding: 4rem 5rem;
          &:last-child{
            margin-bottom: 18rem;
          }
          img{
            width: 8rem;
            height: 8rem;
            margin-top: 7rem;
            margin-bottom: 5rem;
          }
          p{
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 100%;
            text-align: left;
            margin: 0;
            padding-bottom: 2rem;
          }
          span{
            width: 100%;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.8rem;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}