@include wide {
  .career{
    .visual{
      height: 96rem;
    }
    .career_text{
      padding: 18rem 11.8rem;
      p:nth-of-type(1){
        font-size: 5rem;
        line-height: 7rem;
        margin-bottom: 6rem;
        span{
          font-size: 5rem;
        }
      }
      p:nth-of-type(2){
        font-size: 2rem;
        line-height: 3.2rem;
      }
    }

    //swiper_members 영역
    .swiper_members{
      margin-bottom: 18rem;
      .swiper-cards{
        margin-bottom: 0;
        .swiper-pagination{
          bottom: -4rem;
        }
      }
      .swiper_area{
        width: 52rem;
        .element_title{
          font-size: 2.8rem;
        }
        .disclaimer{
          font-size: 1.8rem;
          line-height: 1.8rem;
          margin-bottom: 6rem;
        }
        .description{
          font-size: 2rem;
          line-height: 3.2rem;
          &:nth-of-type(1){
            margin-bottom: 4rem;
          }
        }
      }
    }

    //  swiper_comment 영역
    .swiper_comment{
      margin-bottom: 18rem;
      .swiper_comment_text{
        line-height: 7.8rem;
        margin-bottom: 8rem;
      }
      .swiper_comment_swiper{
        width: 93vw;
        height: 61rem;
        .swiper-slide{
          .detail_slide{
            .detail_btn{
              bottom: 5rem;
            }
            .detail{
              transform: translateY(17%);
              padding: 0 4rem;
              padding-bottom: 14rem;
              .description{
                font-size: 3.8rem;
                line-height: 5rem;
              }
              &.on {
                .disclaimer{
                  font-size: 1.8rem;
                }
              }
            }
          }
        }
        .swiper-pagination {
          bottom: -7rem;
        }
      }
    }


    //  welfare 영역
    .welfare{
      max-width: 115.6rem;
      .welfare_text{
        margin-bottom: 8rem;
      }
      .welfare_list{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .base_article{
          width: calc(33.3333% - 5.6rem);
          height: 41.8rem;
          margin-bottom: 5.6rem;
          padding: 4rem 5rem;
          &:last-child{
            margin-bottom: 18rem;
          }
          img{
            width: 8rem;
            height: 8rem;
            margin-top: 7rem;
            margin-bottom: 5rem;
          }
          p{
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 100%;
            text-align: left;
            margin: 0;
            padding-bottom: 2rem;
          }
          span{
            width: 100%;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.8rem;
            padding-bottom: 0;
          }
        }
      }
    }

    //sub_visual 영역
    .sub_visual{
      .visual{
        height: 56rem;
        img{
          top: -70px;
          height: 63rem;
        }
      }
    }

    //채용 tab 영역
    .employment_area{
      .employment_text{
        text-align: center;
        font-weight: 700;
        margin-bottom: 12rem;
      }
      .tab{
        max-width: 1536px;
        margin: 0 auto;
        .tab_btn_wrap{
          ul{
            width: 15.9rem;
            height: 9.6rem;
            margin-left: 8.1rem;
            flex-wrap: wrap;
            flex-shrink: 0;
            .tab-button{
              span{}
              &:nth-child(1){
                margin-bottom: 3.6rem;
              }
            }
            .isActive{
              span{}
            }
          }
        }
        .tab_content_wrap {
          margin-left: 9.2rem;
          .process_tab{
            width: 107.4rem;
            .process_number_wrap{
              width: 108rem;
              height: 100%;
              margin-bottom: 6rem;
              .process_number{
                width: 27rem;
                height: 27rem;
                &:nth-child(4){
                  &::before{
                    left: -3.7rem;
                  }
                }
                p{
                  font-size: 2.4rem;
                  line-height: 2.4rem;
                  &:first-child{
                    font-size: 1.8rem;
                    font-weight: 400;
                    padding-bottom: 1.4rem;
                  }
                }
              }
            }
            .process_description{
              margin-bottom: 8rem;
              p{
                font-size: 1.8rem;
                line-height: 2rem;
                margin-bottom: 1.4rem;
                padding-left: 1.5rem;
                &::before{
                  position: absolute;
                  top: 0.9rem;
                  left: 0.3rem;
                  content:"";
                  width: 0.3rem;
                  height: 0.3rem;
                  border-radius: 50%;
                  background-color: #1D1D1F;
                }
              }
            }
            .process_detail_description{
              width: 100%;
              margin-bottom: 17.9rem;
              .detail_description_list{
                padding: 5rem 0;
                &:first-child{
                }
                .element_title{
                  &:first-child{
                  }
                }
                .description{
                  font-size: 1.8rem;
                }
              }
            }
          }
          .faq_tab{
            margin-bottom: 17.9rem;
            .accordion{
              dd{
                a{
                  font-size: 1.8rem;
                  line-height: 2.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}