//for variable
$font-cursive: 'Covered By Your Grace', cursive;
$font-pretendard: 'Pretendard';
$font-stolzl: stolzl;
$head-title: 28.6rem;
$sub-title: 7rem;
$text-large: 3.2rem;
$text-normal: 2.4rem;
$font-covered: 'Covered By Your Grace', cursive;
$font-pretendard: 'Pretendard';
$font-stolzl: stolzl;

$fontSize-h1 : 20rem;
$fontSize-h2 : 0.4rem;
$fontSize-h3 : .6rem;
$fontSize-h4 : rem;
$fontSize-h5 : .8rem;
$fontSize-h6 : .2rem;
$fontSize-h7 : .8rem;
$fontSize-h8 : .4rem;
$fontSize-body1 : 2rem;
$fontSize-body2 : 1.8rem;
$fontSize-body3 : 1.8rem;
