.InfiniteRolling {
   position: relative;
//    overflow: hidden;
   box-sizing: border-box;
   width: 100vw;

   &.reverse {
     @keyframes infiniteRolling2 {
          0% {
              right: 0
          }

          to {
              right: -100%
          }
     }

     .rolling_inner {
       animation: infiniteRolling2 40s linear infinite;
     }

   }

   @keyframes infiniteRolling {
     0% {
         left: 0
     }

     to {
         left: -100%
         
     }
   }

 .rolling_inner {
   position: absolute;
   animation: infiniteRolling 40s linear infinite;
   display: flex;
   ul {
     display: flex;
     li {
        display: flex;
       img {
         width: 100%;
         height: auto;
       }
     }
   }
 }
}