.esg {
  .esg_visual {
    .visual {
      margin-bottom: 16rem;
    }
    .description {
      max-width: 120rem;
      margin: 0 auto;
      text-align: center;
      font-size: 5rem;
      line-height:7rem;
      letter-spacing: $en_letterSpacing;
      font-weight: normal;

      span {
        font-family: 'covered';
        font-size: inherit;
        line-height: inherit;
      }

      & + .description {
        font-size: 2rem;
        line-height: 3.2rem;
        margin-top: 6rem;
      }
    }
  }

  .esg_tab_wrapper {
    .tab_btn_wrap {
      border-bottom: 1px solid #d6d6d6;
      margin-top: 12rem;

      & > ul {
        display: flex;
        justify-content: center;
        gap: 5rem;

        .tab-button {
          width: 14rem;
          height: 4.6rem;
          line-height: 3.2rem;
          border-bottom: 6px solid #ffffff;
          font-size: 2rem;
          font-weight: 700;
          text-align: center;
          color: #d6d6d6;

          &.is_active {
            border-color: #00BEFD;
            color: #1d1d1f;
          }

          button {
            color: inherit;
          }
          span {
            font-size: inherit;
            line-height: inherit;
            color: inherit;
          }
        }
      }
    }

    .tab_content_wrap {

      & > article {
        margin-top: 8rem;
        margin-bottom: 16rem;
        text-align: center;
      }
      .tab_content_00 {

        .img_00 {
          max-width: 100rem;
          padding-bottom: 8rem;
        }
        .img_01 {
          background:url(/assets/images/contents/esg/img_tab00_bg00.png) no-repeat;
          background-size: cover;

          & > img {
            max-width: 786px;
            padding: 6.4rem 0;
          }
        }
        .img_02 {
          max-width: 100rem;
          padding-top: 10rem;
        }
      }

      .tab_content_01, .tab_content_02 {
        max-width: 110rem;
        margin: 8rem auto 16rem;
        img {
          max-width: 110rem;
          width: 100%;
        }
      }

      .tab_content_03 {
          max-width: 110rem;
          margin: 8rem auto 16rem;
        .img_01 {
          padding-top: 8rem;
        }
      }
    }
  }
}