@include tablet {
  .ourwork_scroll {
    .scroll_wrap {
      margin-left: 14vw;
      .scroll_text{
        font-size: 24.3vh;
      }
      .scroll_image_wrap {
        img {
          max-width: 25.8rem;
        }
        span {
          &:nth-child(1) img {
            top: -3%;
            left: 13.5%;
          }
          &:nth-child(2) img {
            top: -65%;
            left: 44.5%;
          }
          &:nth-child(3) img {
            top: -3.5%;
            left: 85.3%;
          }
        }
      }
    }
  }
}