.main {
  .main-carousel {
    height: 90vw;
  }
}
@include tablet {
  .main {
    .main-carousel {
      height: 60vw;
    }
  }
}
@include desktop {
  .main {
    .main-carousel {
      height: 45vw;
    }
  }
}
@include wide {
  .main {
    .main-carousel {
      height: 40vw;
    }
  }}