@include tablet {
  .accordion {

    dt {
      padding: 3.6rem 5.2rem 3.6rem 1rem; // $accordion_dtPadding

      button {
        width: 3.2rem; // $accordion_buttonSize
        height: 3.2rem; // $accordion_buttonSize
      }

      &.active + dd {
        padding-bottom: 5rem;
      }
    }
  }
}