@include wide {
  .accordion {

    dt {
      padding: 5.4rem 6.6rem 5.4rem 1rem; // $accordion_dtPadding

      button {
        width: 4.6rem; // $accordion_buttonSize
        height: 4.6rem; // $accordion_buttonSize
      }
    }
  }
}