/* S : guide Common */
.guide {
  @extend %layout-fix;

  header {

    h1 {
      width: 100%;
      height: 50vh;
      line-height: 50vh !important;
      text-align: center;
      font-weight: 900;
      @extend %font-h1;
    }

    ul {
      padding-bottom: 100px;

      li {
        display: inline-block;
        font-size:56px;
        margin-right: 50px;
        color: #D6D6D6;
        font-weight: 900;

        &.active {
          color: #000000;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
/* E: guide Common */

/* S: guide content */
  main {

    dl {

      dt {
        font-size: 50px;
        padding-bottom: 30px;
        font-weight: 900;
      }

      dd {
        line-height: 1.8;
        padding-bottom: 150px;

        > p {
          position: relative;
          padding-left: 20px;

          &:before {
            content:'· ';
            position: absolute;
            left: 0;
            top: -5px;
            font-size: 30px;
          }
        }

        .box {
          padding:20px 40px;
          border: 2px dotted #D6D6D6;
          margin-bottom: 20px;
          margin-top: 10px;
        }

        .title {
          display: inline-block;
          border: 2px solid #000000;
          padding: 10px 40px;
          margin-top: 30px;
          margin-bottom: 10px;
        }

        .responsive {
          background-color: #eee;
          padding: 10px 20px;
          margin-bottom: 20px;
          font-size: 18px;
        }

        > article {
          margin-bottom: 80px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
/* E:  guide content */
}
// 임시 guide 클래스명
.fontH1 { @extend %font-h1 }
.fontH2 { @extend %font-h2 }
.fontH3 { @extend %font-h3 }
.fontH4 { @extend %font-h4 }
.fontH5 { @extend %font-h5 }
.fontH6 { @extend %font-h6 }
.fontH7 { @extend %font-h7 }
.fontH8 { @extend %font-h8 }
.fontBody1 { @extend %font-body1 }
.fontBody2 { @extend %font-body2 }
.fontBody3 { @extend %font-body3 }
.fontCaption { @extend %font-caption }

.btn-primary-normal { @extend %btn-primary-normal }
.btn-primary-ghost { @extend %btn-primary-ghost }
.btn-secondary-up { @extend %btn-secondary-up }
.btn-secondary-down { @extend %btn-secondary-down }