.main {
  overflow-x: hidden;

  .intro_area {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .intro_en {
      @extend %layout_fix;
      @extend %font_enIntro;
      letter-spacing: $en_letterSpacing;
      padding-bottom: 2rem; // $main

      span {
        font-family: $font-en_italic;
        font-size: inherit;
        line-height: inherit;
      }
    }
    .intro_ko {
      @extend %layout_fix;
      @extend %font_primary;
      font-family: $font_ko;
    }
    a {
      @extend %btn_secondary_up;
      letter-spacing: $en_letterSpacing;
      margin-top: 4rem; // $main
    }
  }

  .rolling_wrap {
    height: 100vh;
    position: relative;
    //overflow: hidden;
    .line1_flow {
      &.is_active {
        position: fixed;
        top: 0;
      }
    }
    .rolling_text {
      letter-spacing: $en_letterSpacing;
      font-weight: bold;
      white-space: nowrap;
      width: auto;
      font-size: 56vh; // $main
      display: flex;
      height: 100vh;
      align-items: center;

    }
  }

  .about_us {
    background-color: $color_blue;
    color: $color_white;
    text-align: center;
    padding-top: 13rem; // $main

    .keyvisual_wrap {
      padding: 0 1.8rem;
      position: relative;
      z-index: 1;
      .lottie {
        height: 38vw;
      }
      /*.text_keyvisual_wrap {
        height: 44vw;
      }
      .text_keyvisual {
        height: 44vw;
      }
      .smile_keyvisual {
        position: absolute;
        top: -13%;
        right: 4%;
        width: 17vw;
      }
      .underline_keyvisual {
        position: absolute;
        top: 9%;
        right: 1%;
        width: 55vw;
      }
      .ourwork_keyvisual {
        position: absolute;
        bottom: 9%;
        left: 50%;
        width: 45px;
        transform: translateX(-335%);
      }*/
      .keyvisual_disclaimer {
        @extend %font_primary;
        @extend %layout_fix;
        letter-spacing: $en_letterSpacing;
        font-family: $font_ko;
        display: block;
        padding-top: 1rem; // $main
        padding-bottom: 10.7rem; // $main

        /*max-width: 31.2rem; // $main*/
      }
    }
    .main_carousel {
      margin-top: -5rem;
    }
    .intro_area {
      .btn_about_us {
        span {
          color: $color_blue;
        }
      }
    }
  }

  .service {
    .bg_blue {
      background-color: $color_blue;
      color: $color_white;
    }
    .bg_white {
      background-color: $color_white;
      &.is_photo {
        padding-bottom: 6rem;
      }

      &:before {
        width: 100vw;
        height: 110vh;
        display: block;
        content:'';
        background-color: $color_blue;
      }
    }
    .rolling_wrap {
      .rolling_text {
        margin-left: 61vw;
        .text_expertis,
        .text_e {
          position: relative;
          font-family: $font_en;
          font-size: 60vh;
          letter-spacing: $en_letterSpacing;
          font-weight: bold;
          white-space: nowrap;
          display: inline-block;
        }
        .expertise_img {
          position: absolute;
          max-width: 19.3rem;
          width: 30.2vh;
          &:nth-child(1) {
            top: 8.5%;
            left: 9%;
          }
          &:nth-child(2) {
            top: 64%;
            left: 41.5%;
          }
          &:nth-child(3) {
            top: 12.5%;
            left: 84.5%;
          }
        }
      }
    }
    .rolling_area_wrap {
      margin-top: 23.2rem;
      margin-bottom: 29.2rem;
      .rolling_area {
        height: 5.2rem;
        margin-bottom: 1rem;
        li {
          align-items: center;
          span {
            margin-right: 1.5rem;
            font-family: $font_en;
            font-family : $en_letterSpacing;
            font-size: 5.2rem;
            line-height: 100%;
            color: #000;
            white-space: nowrap;
          }
          img {
            width: 7.6rem;
            margin-right: 1.9rem;
          }
        }

        &:nth-child(1) {
          .infinite_rolling_inner {
            animation-name: infiniteRollingSolo !important;

            @keyframes infiniteRollingSolo {
              0% {
                left: 0;
              }
              100% {
                left: -1210.5px;
              }
            }
          }
        }
        &:nth-child(2) {
          .infinite_rolling_inner {
            animation-name: infiniteRollingSolo2 !important;

            @keyframes infiniteRollingSolo2 {
              0% {
                right: 0;
              }
              100% {
                right: -1208.7px;
              }
            }
          }
        }
        &:nth-child(3) {
          .infinite_rolling_inner {
            animation-name: infiniteRollingSolo3 !important;

            @keyframes infiniteRollingSolo3 {
              0% {
                left: 0;
              }
              100% {
                left: -1266.5px;
              }
            }
          }
        }
      }
    }
    .intro_area {
      position: relative;
      z-index: 10;
      color: $color_black;
      padding-top: 6rem;
      a {
        background-color: $color_black;
        color: $color_white;
      }
    }
  }

  .our_works {
    .rolling_wrap {
      .line1_flow {
        transition: background-color 1s;
        &.is_active {
          background-color: $color_black;
          .text_ourworks {
            color: $color_white;
          }
        }
      }
      .rolling_text {
        margin-left: 10vw;
        .text_ourworks {
          transition: color 1s;
          font-family: $font_en;
          font-size: 33vh;
          letter-spacing: $en_letterSpacing;
          font-weight: bold;
          white-space: nowrap;
          position: relative;
        }
        .ourworks_img {
          position: absolute;
          max-width: 19.4rem;
          width: 30.2vh;
          &:nth-child(1) {
            top: 0;
            left: 13.5%;
          }
          &:nth-child(2) {
            top: 66%;
            left: 44.5%;
          }
          &:nth-child(3) {
            top: 12.5%;
            left: 84.5%;
          }
        }
      }
    }
    .scroll_swiper {
      .single_swiper_wrap {
        transform: translate(200%, -200%) rotate(25deg) scale(0);
        transition: transform 1s;
      }
      &.is_active {
        .single_swiper_wrap {
          transform: translate(0) rotate(0) scale(1);
        }
      }
    }
    .portfolio_wrap {
      //position: fixed;
      /*&:before {
        width: 100vw;
        height: 100vh;
        display: block;
        content:'';
      }*/
      //left: 100vw;
      //top: 0;
      width: 100vw;
      .portfolio {
        overflow: hidden;
        background-color: $color_black;
        color: $color_white;
        text-align: center;
        height: 100vh;
        .visual {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .element_title {
            @extend %font_visualTitle;
          }
          .disclaimer {
            @extend %font_visualDescription;
            margin-bottom: 5rem;
          }
          a {
            @extend %btn_primary_ghost;
          }
        }
      }
      .single_swiper_wrap {
        .swiper_area {
          .swiper-button-prev, .swiper-button-next {
            display: none;
          }
        }
      }
    }

  }
}