.main {

  .intro_area {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .intro_en {
      @extend %layout_fix;
      @extend %font_enIntro;
      letter-spacing: $en_letterSpacing;
      padding-bottom: 2rem; // $main

      span {
        font-family: $font-en_italic;
        font-size: inherit;
        line-height: inherit;
      }
    }
    .intro_ko {
      @extend %layout_fix;
      @extend %font_primary;
    }
    a {
      @extend %btn_secondary_up;
      letter-spacing: $en_letterSpacing;
      margin-top: 4rem; // $main
    }
  }

  .rolling_wrap {
    height: 100vh;
    position: relative;

    .rolling_text {
      letter-spacing: $en_letterSpacing;
      font-weight: bold;
      white-space: nowrap;
      display: block;
      width: auto;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 100vw; // $main
    }

    img {
      width: 50vw;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .about_us {
    background-color: $color_blue;
    color: $color_white;
    text-align: center;
    padding-top: 13rem; // $main

    .keyvisual_wrap {
      .text_keyvisual {
        max-width: 1476px;
        margin: 0 auto;
      }
      .keyvisual_disclaimer {
        @extend %font_primary;
        @extend %layout_fix;
        letter-spacing: $en_letterSpacing;
        display: block;
        padding-top: 3rem; // $main
        padding-bottom: 10.7rem; // $main

        max-width: 31.2rem; // $main
      }
    }
  }

  .service {
    .bg_blue {
      background-color: $color_blue;
      color: $color_white;

    }

    .bg_white {
      background-color: $color_white;

      .swiper_bundle {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .swiper {
          overflow: visible !important;
          width: 100vw;
          margin-bottom: 3vw;

          .swiper-slide {
            width: auto;
            height: 15vw; // $main

            span {
              display: block;
              float: left;
              font-size: 15vw; // $main
              padding-right: 2.7rem; // $main
            }
            img {
              display: block;
              width: auto;
              float: left;
              height: 10vw; // $main
              padding-top: 3vw; // $main
              padding-right: 3.3rem; // $main
            }
          }
        }
      }

      .intro_area {
        height: 100vh;

        a {
          background-color: $color_black;
          color: $color_white;
        }
      }
    }
  }

  .our_works {

    .rolling_wrap {

      .rolling_text {
        font-size: 50vw; // $main
      }
    }

    .portfolio {
      overflow: hidden;
      background-color: $color_black;
      color: $color_white;
      text-align: center;
      height: 100vh;

      .visual {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .element_title {
          @extend %font_visualTitle;
        }
        .disclaimer {
          @extend %font_visualDescription;
        }
        a {
          @extend %btn_primary_ghost;
        }
      }


    }

  }
}