.swiper_area {
  .swiper-button-next, .swiper-button-prev {
    width: 3.2rem;
    height: 3.2rem;
    display: block;
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
    background-size: 100%;
    &::after{
      display: none;
    }
    &.swiper-button-disabled {
      opacity: .4;
    }
  }
  .swiper-button-prev {
    background-image: url(/assets/images/ico/ico_btn_white_prev.svg);
  }
  .swiper-button-next {
    background-image: url(/assets/images/ico/ico_btn_white_next.svg);
  }
  .swiper-pagination {
    &.swiper-pagination-bullets {
      .swiper-pagination-bullet {
        opacity: 1;
        width: .6rem;
        height: .6rem;
        background-color: $color_grey;
        margin: 0 .3rem;
        transition: all .3s;
        &.swiper-pagination-bullet-active {
          width: 2.6rem;
          border-radius: 100px;
          background-color: $color_black;
        }
      }
    }
  }
  .swiper-scrollbar {
    &.swiper-scrollbar-horizontal {
      width: 31.2rem;
      height: .4rem;
      background: $color_grey;
      border-radius: 0;
      left: 50%;
      transform: translateX(-50%);
      .swiper-scrollbar-drag {
        background: $color_black;
        border-radius: 0;
      }
    }
  }
}