@include wide {
  .swiper_area {
    .swiper_button_next, .swiper_button_prev {
      width: 5.2rem;
      height: 5.2rem;
    }
    .swiper_pagination {
      &.swiper_pagination_bullets {
        .swiper_pagination_bullet {
          width: 1rem;
          height: 1rem;
          margin: 0 .5rem;
          &.swiper_pagination_bullet_active {
            width: 4rem;
          }
        }
      }
    }
    .swiper_scrollbar {
      &.swiper_scrollbar_horizontal {
        height: .8rem;
      }
    }
  }
}