.about {
  overflow-x: hidden;
  max-width: 100vw;
  .visual {
    height: 27rem;
  }
  .about_intro_text_wrap {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    @extend %layout_fix;
    background-color: $color_white;
    .description:first-child {
      @extend %font_enIntro;
      letter-spacing: $en_letterSpacing;
      font-family: $font-en;
      margin-bottom: 3rem;
      color: #121212;
      & span {
        font-family: $font_en_italic;
        @extend %font_enIntro;
      }
    }
    .description:nth-child(2) {
      font-family: $font_ko;
      @extend %font_primary;

      br {
        display: none;
      }
    }
  }
  .about_intro_swiper {
    background-color: $color_white;
    .image_swiper {
      width: 74.534161%;
      .swiper-pagination {
        bottom: -3.6rem;
      }
    }
    .text_swiper {
      padding: 8.6rem 2.4rem 0;
      .swiper-slide {
        position: relative;

        &:first-child {
          padding-bottom: 9rem;
          margin-bottom: 10.6rem;
        }
        &:nth-child(2) {
          padding-bottom: 10rem;
          margin-bottom: 11.6rem;
        }
        &:nth-child(3) {
          padding-bottom: 11.6rem;
          margin-bottom: 11.6rem;
        }

        &:after {
          display: block;
          content: '';
          position: absolute;
          width: 17rem;
          height: 1.6rem;
          background: url(/assets/images/ico/ico_wave.svg) center / cover no-repeat;
        }
        &:first-child:after {
          right: 0;
          margin-top: 8.8rem;
        }
        &:nth-child(2):after {
          right: 5rem;
          margin-top: 5.2rem;
        }
        &:nth-child(3):after {
          left: 0;
          margin-top: 4.2rem;
        }
        .intro_text {
          transition: .9s;
          transition-delay: .1s;
          position: relative;
          opacity: 0;
          font-family: $font-ko;
          transform: translateY(50%);

          .intro_title {
            @extend %font_contentsTitle;
            font-weight: 700;
            margin-bottom: 2.4rem;
          }
          .intro_disclaimer {
            @extend %font_primary;
          }
        }

        &:last-child {
          margin-right: 0 !important;
        }

        &.swiper-slide-active div {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }


  .anchors_profile {
    background-color: $color_black;
    color: $color_white;
    padding-top: 10rem;
    padding-bottom: 10rem;

    h3 {
      padding: 0 2.4rem;
      font-family: $font_en;
      font-size: 1.6rem;
      line-height: 1.6rem;
      letter-spacing: $en_letterSpacing;
      margin-bottom: 6rem;
      font-weight: 400;
      max-width: 1816px;
    }
    .profile_development {
      @extend %layout_fix;
      position: relative;
      padding-bottom: 12.1rem;
      &:last-child {
        padding-bottom: 0;
      }
      .profile_grow_text {
        font-family: $font-en;
        @extend %font_sectionTitle;
        font-weight: 500;
        margin-bottom: 5rem;
      }
      .profile_grow_number {
        font-size: 5rem;
        font-family: $font-en;
        letter-spacing: $en_letterSpacing;
        span {
          @extend %font_visualDescription;
          line-height: 100%;
          margin-left: 0.8rem;
          display: inline-block;
          margin-bottom: 3rem;
          letter-spacing: $en_letterSpacing;
        }
      }
      .lottieTrigger {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 900px;
        width: 161vw;
      }
    }
    .profile_award {
      @extend %layout_fix;
      padding-top: 9rem;
      .profile_award_description {
        font-family: $font-en;
        font-weight: 500;
        letter-spacing: $en_letterSpacing;
        @extend %font_sectionTitle;
        margin-bottom: 6.4rem;
      }
      .profile_award_icon {
        display: inline-block;
        width: 7rem;
        height: auto;
        margin-bottom: 6.4rem;
      }
      .profile_award_list {
        border-top: 1px solid rgba(255,255,255,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        padding: 3.2rem 0;
        font-family: $font_en;

        &:first-child {
          border-top: 1px solid rgba(255,255,255,1);
          border-bottom: unset;
        }

        .element_title {
          @extend %font_listTitle;
          letter-spacing: $en_letterSpacing;
          font-weight: 400;
          margin-bottom: 1.4rem;
        }
        .description {
          font-size: 1.4rem;
          line-height: 100%;
          letter-spacing: $en_letterSpacing;
        }
      }
    }
    .profile_partner {
      .description {
        padding: 0 2.4rem;
        font-family: $font_en;
        font-weight: 500;
        @extend %font_sectionTitle;
        letter-spacing: $en_letterSpacing;
        margin-bottom: 5rem;
        margin-top: 10rem;
        max-width: 1816px;
      }
      .about_partner {
        height: 4.7rem;

        &:first-child {
          margin-bottom: 2.6rem;
        }
        .rolling_inner {
          li {
            width: 16rem;
          }
        }
      }
      .disclaimer {
        margin-bottom: 2.6rem;
        margin-top: 10rem;
        font-family: $font_en;
        @extend %font_visualDescription;
        text-align: center;
        letter-spacing: $en_letterSpacing;
        line-height: 2.2rem;
      }
      .download_btn {
        @extend %btn_secondary_down;
        display: block;
        margin: 0 auto;
      }
    }
  }
  .about_members {
    .visual {
      height: 23rem;
    }
    .about_members_desc {
      @extend %layout_fix;
      max-width: 1536px;
      margin: 0 auto;
      .description {
        @extend %font_enIntro;
        font-family: $font-en;
        text-align: center;
        letter-spacing: $en_letterSpacing;
        margin-bottom: 3rem;
        margin-top: 6rem;
        color: #121212;

        & span {
          font-family: $font-en_italic;
          @extend %font_enIntro;
        }

        &:nth-child(2) {
          font-family: $font-ko;
          @extend %font_primary;
          color: $color_black;
          margin-top: 0;
          margin-bottom: 6rem;
        }
      }
    }
    .single_swiper_wrap {
      margin-bottom: 10rem;

      .about_members_swiper {
        //margin-bottom: 4rem;
        overflow: visible;

        .swiper-slide {
          width: unset;

          .member_name_en {
            position: absolute;
            bottom: 2.4rem;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            color: $color_white;
            font-family: $font-en;
            font-size: 1.8rem;
            line-height: 100%;
            letter-spacing: $en_letterSpacing;
            z-index: 1;
            width: 100%;
            text-align: center;
            font-weight: 500;
          }

          .detail_slide {
            width: 26rem;
            height: 26rem;
            position: relative;
            overflow: hidden;

            .detail {
              article {
                padding: 3.4rem 1.8rem 1.8rem 2.8rem;
                height: -webkit-fill-available;
                .element_title {
                  display: inline-block;
                  margin-bottom: 0.6rem;
                  font-size: 1.8rem;
                  line-height: 100%;
                }
                .member_team {
                  font-size: 1.4rem;
                  line-height: 140%;
                  margin-bottom: 2rem;
                }
                .member_hashtag {
                  @extend %font_visualDescription;
                }
              }
            }
          }
        }
        .swiper-pagination {
          bottom: -4.6rem;
        }
      }
    }
  }
}