@include wide {
  .about {
    .visual {
      height: 96rem;
    }
    .about_intro_text_wrap {
      padding: 18rem 16.8rem;

      .description:first-child {
        margin-bottom: 6rem;
      }
    }
    .about_intro_swiper {
      max-width: 130.6rem;
      margin: 0 auto;
      padding: 0 8.4rem 18rem;

      .image_swiper {
        width: 33.854167vw;
        padding-bottom: 4rem;
        margin: 0;
        max-width: 520px;

        .swiper-pagination {
          bottom: 0;
        }
      }
      .text_swiper {
        width: 38.151042vw;
        max-width: 58.6rem;
        padding: 15.5rem 0 0 0;
        margin: 0;
        margin-left: 4rem;

        .swiper-slide {
          margin-bottom: 0;

          &:after {
            width: 26.3rem;
            height: 2.2rem;
          }
          &:first-child:after {
            right: 0;
          }
          &:nth-child(2):after {
            left: unset;
            right: 15rem;
          }
          &:nth-child(3):after {
            bottom: 23.7rem;
          }
          .intro_text {
            .intro_disclaimer {
              margin-bottom: 24.4rem;
            }
          }
        }
      }
    }


    .anchors_profile {
      padding: 18rem 0 19.4rem;

      h3 {
        font-size: 2.2rem;
        line-height: 2.2rem;
        margin: 0 auto 12rem;
        padding: 0 14rem;
      }
      .profile_development {
        padding: 0 14rem 24.6rem;

        .profile_grow_number {
          font-size: 10.4rem;
        }
        .lottieTrigger {
          left: -31.9rem;
        }
      }
      .profile_award {
        padding: 25.4rem 14rem 0;
        .profile_award_description {
          margin-bottom: 10rem;
        }
        .profile_award_icon {
          width: 12.4rem;
        }
        .profile_award_list {
          .element_title {
            margin-bottom: 2.4rem;
          }
          .description {
            font-size: 1.8rem;
          }
        }
      }
      .profile_partner {
        .description {
          margin: 16rem auto 12rem;
          padding: 0 14rem;
        }
        .about_partner {
          height: 10rem;

          &:first-child {
            margin-bottom: 6rem;
          }
          .rolling_inner {
            li {
              width: 34rem;
            }
          }
        }
        .disclaimer {
          margin-top: 20rem;
          line-height: 100%;
        }
      }
    }
    .about_members {
      .visual {
        height: 56rem;
      }
      .about_members_desc {
        padding: 0 21.8rem;
        .description {
          margin-top: 14rem;
          margin-bottom: 6rem;

          &:nth-child(2) {
            margin-bottom: 18rem;
          }
        }
      }
      .single_swiper_wrap {
        padding-bottom: 18rem;
        .about_members_swiper {
          padding-bottom: 7.2rem;
          .swiper-slide {
            .member_name_en {
              bottom: 4rem;
              font-size: 2.8rem;
            }
          }
        }
      }
    }
  }
}